<html>
<head>
  <title><%= title %></title>
  <link rel="stylesheet" href="index.css">
</head>
<body class="index-body">
  <div class="index-top">
    Mini Messageboard
  </div>
  <div class="index-mid">
    <% messages.forEach(user => { %>
      <div class="message">
        <div class="from-date">
          <p><span>From: </span><%=user.user%></p>
          <p><%=user.formattedDate%></p>
        </div>
        <p><%=user.text%></p>
      </div>
    <% }); %>
  </div>
  <div class="index-bot">
    Footer
  </div>
</body>
</html>