<html>
  <head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Indie+Flower&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&display=swap" rel="stylesheet">  
    <link rel="stylesheet" href="new.css">
    <title>New Message</title>
  </head>
  <body class="form-body">
    <div class="back-arrow-form">
      <a href="/">☜ Back</a>
    </div>
    <form method="POST" action="/new">
      <label for="user-name">Name:</label>
      <input type="text" id="user-name" name="userName" placeholder="Name" />
    
      <label for="text-area">Message:</label>
      <textarea id="text-area" name="userMessage"placeholder="Message..." rows="20" cols="33"></textarea>
    
      <input type="submit" value="Submit">
    </form>
  </body>
</html>