<html>
  <head>
    <link rel="stylesheet" href="new.css">
    <title>New Message</title>
  </head>
  <body class="form-body">
    <form method="POST" action="/new">
      <label for="user-name">Name:</label>
      <input type="text" id="user-name" name="userName" placeholder="Name" />
    
      <label for="text-area">Message:</label>
      <textarea id="text-area" name="userMessage"placeholder="Message..." rows="5" cols="33"></textarea>
    
      <input type="submit" value="Submit">
    </form>
  </body>
</html>