* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.index-body {
  display: grid;
  grid-template-rows: 1fr 10fr 1fr;
  grid-template-areas: 
  "top"
   "mid"
   "bot";
}

.index-top, 
.index-bot {
  background-color: black;
  color: white;
  padding: 1rem;
  font-size: 2rem;
}

.index-top {
  grid-area: top;
  border-bottom: 5px solid lightblue;
}

.index-mid {
  grid-area: mid;
  display: flex;
  flex-direction: column;
  padding: 0.2rem;
  gap: 0.5rem;

  font-size: 1.5rem;

  background-color: lightgrey;
}

.index-mid p span {
  font-weight: bold;
}

.index-bot {
  grid-area: bot;
  border-top: 5px solid lightblue;
}

.index-top, 
.index-bot {
  display: flex;
  justify-content: center;
  align-items: center;
}

.from-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1rem;

  /* border: 1px solid lightblue; */
  border-radius: 40px;

  /* h-offset v-offset blur spread color |inset|initial|inherit; */
  box-shadow: 1px 0px 10px 5px rgb(108, 123, 138) inset;

}

.message {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  gap: 1rem;

  padding: 1rem;
  padding-left: 2rem;
  padding-right: 2rem;

  background-color: lightslategrey;
  color: white;
  border-radius: 40px;
}