.form-body {
  font-family: 'Lato';
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: lightgrey;
  position: relative;
}

.form-body > form {
  width: 25%;
  display: flex;
  flex-direction: column;
}

input, 
textarea {
  padding: 8px;
  margin-bottom: 1rem;

  border-radius: 5px;

  border: none;
}

input[type="submit"] {
  font-family: 'Lato';
  align-self: center;
  padding: 8px;
  width: max-content;
  border: none;
  background-color: lightcoral;
  color: white;
  border-radius: 8px;
}

.back-arrow-form {
  position: absolute;

  top: 1rem;
  left: 1rem;

  transition: 
    transform 0.15s ease-in, 
    border 1ms ease-in;
}

.back-arrow-form > a {
  text-decoration: none;
  color: black;
}

.back-arrow-form:hover {
  transform: scale(1.1);
  border-bottom: 1px solid black;
}

@media (max-width: 1024px) {
  .form-body > form {
    width: 80%;
  }
}

@media (max-width: 824px) {
  .form-body > form {
    width: 80%;
  }
}


@media (max-width: 780px) {
  .form-body > form {
    width: 80%;
  }
}

@media (max-width: 500px) {
  .form-body > form {
    width: 100%;
    padding: 2rem;
  }
}
